<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS:GO Manager</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./../assets/css/style.css">
</head>
<body>
<header id="header">
    <nav>
        <div class="container">
            <div class="text-center">
                <a href="/" class="nav-brand text-light">CS:GO Server Players Manager Online</a>
            </div>
        </div>
    </nav>
</header>

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"> < All Users</a>
            </div>
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark">New Player</h2>
            <span class="text-light">Use the bellow form to create new player</span>
        </div>

        <form method="POST" id="update_user">
            <div class="new_user">

                <div class="form-group">
                    <label for="steam_id" class="text-light">SteamID</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" id="steam_id" name="steam_id" value="" placeholder="Steam ID">
                </div>

                <div class="form-group">
                    <label for="gender" class="text-light">Gender</label>
                    <div class="radio inline">
                        <input type="radio" id='radio-m' name="gender" value="Male">
                        <label for="radio-m" id="gender" class="radio-label">Male</label>
                    </div>

                    <div class="radio inline">
                        <input type="radio" id='radio-f' name="gender" value="Female">
                        <label for="radio-f" class="radio-label">Female</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="rank" class="text-light">Rank</label>
                    <input type="text" name="rank" id="rank" value="" placeholder="Rank">
                </div>

                <div class="form-group">
                    <label for="weapon" class="text-light">Favourite Weapon</label>
                    <input type="text" name="weapon" id="weapon" value="" placeholder="Favourite Weapon">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn text-dark">Create new player</button>
                </div>

            </div>
        </form>

    </div>
</main>

</body>
</html>