<%- include('include/_header') %>

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"> < All Users</a>
            </div>
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark">New Player</h2>
            <span class="text-light">Use the bellow form to create new player</span>
        </div>

        <%- include('include/_form') %>

    </div>
</main>

<%- include('include/_footer') %>