<tr>
    <td>1</td>
    <td>VanChik</td>
    <td>Male</td>
    <td>Silver</td>
    <td>AWP</td>
    <td>
        <a href="/update-user" class="btn border-shadow update">!</a>
        <a href="/delete-user" class="btn border-shadow delete">x</a>
    </td>
</tr>