<tr>
    <td>1</td>
    <td>Ivan Ivanov</td>
    <td>VanChik</td>
    <td>Silver</td>
    <td>AWP</td>
    <td>
        <a href="#" class="btn border-shadow update">!</a>
        <a href="#" class="btn border-shadow delete">x</a>
    </td>
</tr>